<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성</title>
    <style>

    </style>
</head>
<body>
<div align="cetner">
    <form id=formData method=post action=http://43.200.179.244:8080/page/review/create>
        <input type="hidden" name="mid" th:value="${mid}">
        <table>
            <tr>
                <td>content</td>
                <td><input type="text" name="content"></td>
            </tr>
            <tr>
                <td>score</td>
                <td><input type="number" name="score"></td>
            </tr>
            <tr>
                <td>img</td>
                <td><input type="file" name img></td>
            </tr>
            <tr>
                <td><input type="button" id="btn" value="저장"></td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>