<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        .menuLine{
            float: left;
            width: 12em;

        }
        ul {
            list-style-type: none;
            margin-: 0 auto;
            padding: 0;
        }

        li {
            margin: 5px 5px 5px 5px;
            padding: 0 0 0 0;
            border: 1px;

        }
        #sign-in{
            float:right;
        }

    </style>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</head>
<body>
<div align="center">
    <h2>메인 화면</h2>
    <hr>
    <div id="sign-in">
        <th:block th:if="${token}== null">
            <button onclick='location.href="/page/login"'>로그인</button>
        </th:block>
        <th:block th:if="${token}!= null">
            <button onclick="location.href='/page/logout'">로그아웃</button>

        </th:block>
    </div>
    <div id="search">
        <form method="get" action="/search">
            <select name=key>
                <option name="r_name" value="r_name">식당 이름</option>
                <option name="c_name" value="c_name">카테고리</option>
                <option name="m_name" value="m_name">메뉴 이름</option>
            </select>

            <input type="text" name="keyword">
            <input type="submit" value="검색">
        </form>
    </div>
    <hr>
    <div class="menuLine" >
        <div style="width: 10em" align="center">
            <h3>카테고리</h3>
            <ul th:each="category : ${categories}">
                <li><a th:href="${category.url}"><p th:text="${category.name}"/></a></li>
            </ul>
        </div>

    </div>
    <div class="menuLine">
        <h3>기타 기능</h3>
        <a href="/youtube/summary/subtitlesPage">YouTube 영상 요약하기</a>
        <button id = "recommend">추천 메뉴 보기</button>
    </div>
    <div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function recommend(){
        const token = [[${token}]]
    }

    $(document).ready(function(){
        console.log('ready!')
        const url = 'http://43.203.11.45:8080/page/recommend';
        $('#recommend').click(function(){
            console.log('click!')
            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function (xhr){
                    xhr.setRequestHeader("X-AUTH-TOKEN", /*[[${token}]]*/)
                },
                success: function(res){
                    console.log(res)
                }
            })
        })
    })
</script>
</body>
</html>