<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>음식점 검색</h1>
<h3>종류 선택하기</h3>
<div id="searchObj">
    <input id="word" type="text" name="word" placeholder="음식점 이름">
    <input type="button" onclick="search()">
</div>
<div align="left">
    <ul th:each="list:${categories}">
        <li>
            <a th:text="${list.name}" , th:href="${list.url}"></a>
        </li>
    </ul>
</div>
<script src="/js/restaurantList.js"></script>
</body>
</html>