<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Active</title>
    <style>
        #restaurant_list {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid;
            margin: 1px;
            text-align: center;
        }
        #sign-in{
            float:right;
        }

    </style>
</head>
<body>
<div align="center">
    <h1>다먹어!</h1>
    <div id="sign-in" >
        <th:block th:if="${token}== null">
            <button onclick='location.href="/page/login"'>로그인</button>
        </th:block>
        <th:block th:if="${token}!= null">
            <button onclick="location.href='/page/logout'">로그아웃</button>

        </th:block>
    </div>
    <div align="left">
        <a th:href="@{/}">돌아가기</a>
    </div>
    <hr>

    <table id="restaurant_list">
        <thead>
        <tr>
            <th>이름</th>
            <th>주소</th>
            <th>종류</th>
            <th>점수</th>
        </tr>
        </thead>
        <tbody th:each="list : ${rList}">
        <tr id="">
            <td><a th:href="@{/page/restaurant(id = ${list.restaurant_id})}"><p th:text="${list.restaurant_name}"></p>
            </a></td>
            <td><span th:text="${list.restaurant_addr}"></span></td>
            <td th:width="80px"><span th:text="${list.restaurant_category}"></span></td>
            <td th:width="80px"><span th:text="${list.restaurant_score}"></span></td>
        </tr>
        </tbody>
    </table>

</div>
</body>

</html>