<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음식점</title>
  <style>
    img {
      width:200px;
      height:200px;
    }
    td{
      text-align:center;
    }
  </style>
</head>
<body>
<div align="center">
  <h3 th:text="${restaurant.restaurant_name}"/>
  <p th:text="${restaurant.restaurant_addr}"></p>
  <p th:text="${restaurant.restaurant_category}"></p>
  <p th:text="${restaurant.restaurant_score}"></p>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>이름</th>
        <th>가격</th>
        <th>점수</th>
      </tr>
    </thead>
    <tbody >
    <tr th:each="menu : ${restaurant.menuDtoList}" th:onclick="|location.href='@{/page/menu(id=${menu.menu_id})}'|">
      <td><img th:src="${menu.img_url}"></td>
      <td><a th:href="@{/page/menu(id=${menu.menu_id})}" ><p th:text="${menu.menu_name}"/></a></td>
      <td><p th:text="${menu.menu_price}"/></td>
      <td th:width="50px"><p th:text="${menu.menu_score}"/></td>
    </tr>

    </tbody>
  </table>

</div>
</body>
</html>